.BannerImage {
  height: 550px;
  background-size: cover;
}
#GameBanners {
  position: relative;
  top: 0;
}
.banner-image {
  min-height: 550px;
}
.text-gray {
  color: white;
  background-color: transparent;
  padding: 5px;
  border-radius: 8px;
  //   border: 2px solid black;
}
